name: flutter_month_picker
description: Flutter month picker package lets you to choose month and year only and implement in your app.
version: 0.0.2
homepage: https://github.com/flutter-custom-packages/flutter_month_picker

environment:
  sdk: ">=2.17.6 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.17.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
